body { 
    width: 1200px;
    height: 2336px;
    margin: 0 auto;   
    background: #FFFFFF;
}

header {
    width: 1200px;
    height: 800px;
    background-image: url('../assets/desktop.png');
    margin:0 auto;
    
}

.biglogo {
    width: 63px;
    height: 63px;
    margin-left: 569px;
    margin-top: 160px;
    
}

h1 {
    margin-top: 6px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
/* or 133% */
    text-align: center;
    color: #FFFFFF;
}

.afterh1 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
/* or 133% */
    text-align: center;
    color: rgba(255, 255, 255, 0.7)
}

.sectionfirst {
    width: 1200px;
    height: 700px;
    margin-top:-40px;
    background: #EEEEEE;
    
}

.secthead {
    margin: 0 auto;
    padding-top: 87px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
/* or 133% */
    text-align: center;
    color: #464547;
}

.h3first {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
/* or 133% */
    text-align: center;
    color: #666666;
}

.par {
    width: 983px;
    height: 194px;
    display:flex;
    justify-content: center;
    column-gap: 84px;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 30px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 138% */
    text-align: left;
    color: #666666;
}
 /* change padding separately */
    .flexpar {
        width: 50%;
        /* padding: 20px; */
    
    /* height: 172px; */
    }

    .readmore {    
    margin: auto;
    display:block;
    padding: 5px 21px 5px 21px;
    background: #55C2D8;
    border-radius: 18px;
    border-style: none;
    font-family: 'Oswald';
    font-size: 14px;
    line-height: 26px;
/* or 186% */
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-transform: uppercase;    

}

.learnmore {
    background-image: url('../assets/learn-more.png');
    width: 1200px;
    height: 666px;
    margin:0 auto;
    margin-top: -40px;
}

.culture {
    padding-top: 84px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
/* or 133% */
    text-align: center;
    letter-spacing: 0.12rem;
    color: #FFFFFF;
}

.ellipse {
    width: 150px;
    height: 150px;
    margin: auto;
    display:block;
}

/* .button9654 {
    position: relative;    
    height: 1px;
    width: 1px;
    font-size: 125px;
    background-color: #39C2D7;
    color: white;
    left: 567px;
    top: -158px;
    padding:0%;    
    border-style:none
    
} */

.triangle {
    position: relative;
    width: 55px;
    height: 70px;
    left: 576px;
    top: -110px;
}

.afterlearn {
    margin: 0 auto;
    margin-top: -6px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */
    text-align: center;
    color: #FFFFFF;
}


footer {
    width: 1200px;
    height: 199px;
    margin: 0 auto;
    background: #464547;
}

   
    .smalllogo {
        position: relative;
        left: 20px;
        top: 21px;
        width: 20px;
        height: 20px;
        
    }

.project {
    margin-left: 50px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
/* identical to box height, or 89% */
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;

}

.address1 {
    /* margin-left: 140px; */
    padding-top: 18px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
   
    color: rgba(255, 255, 255, 0.4);
}

.email {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
    /* margin-top: 15px; */
}

.address1 span {
    margin-bottom: 10px; /* Adjust the value as per your desired distance */
  }

.copyright {
    align-self: flex-end;
    margin-left: 140px;
    padding-top: 10px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
   
    color: rgba(255, 255, 255, 0.4);
}

.flexfootcont {
    display: flex;
    justify-content: space-evenly;
    justify-items: flex-start;
    padding-top: 20px;
}

/* From here flex menu */

/* I need adjust BIGLOGO and H1 */
.menu {
    display:flex;
    /* border: 2px solid white; */
    margin-left: 70px;
    align-items: center;
    text-transform: uppercase;
    justify-content: flex-start;
    }

.projname {
    flex-basis: 220px;
    padding: 1px;
    /* border: 2px solid yellow; */
    flex-grow: 0.1;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
/* identical to box height, or 80% */

letter-spacing: 0.1em;
color: #FFFFFF;
}
/* nav {display:flex;} */
nav ul { list-style-type: none;
    display:flex;
    justify-content: center;
    column-gap: 40px;
    padding: 25px;
    flex-grow: 2;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
/* identical to box height, or 114% */

    letter-spacing: 0.2em;
    text-transform: uppercase;

color: #FFFFFF;
}

/* nav li {margin-right: 40px;} */
.menu a {
    text-decoration: none;
    color: #FFFFFF;
}

.menu .about {
    border-bottom: 2px solid #FFFFFF;
}